* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size: 80%;
}

body {
    background-image: url('https://cutewallpaper.org/21/1920-x-1080-gif/1920x1080-Wallpapercartoon-Wallpapers-Driverlayer-Search-.gif');
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2, h3, h4, h5 {
    line-height: 1.2;
    font-weight: 400;
    text-align: center;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4  {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

.container {
    gap: 2rem;
    width: 100%;
}

.info {
    gap: 1.8rem;
}

.box {
    gap: 1.2rem;
    border-radius: 1rem;
    width: 64%;
    background-color: #f0f0f0;
}

.small-title {
    background-color: #87ceeb;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    min-height: 3.6rem;
}

.small-title h2 {
    color: white;
}

form {
    gap: 1.8rem;
}

.enter-password {
    gap: 0.6rem;
}

.length-input {
    padding-left: 0.4rem;
    height: 1.8rem;
    width: 16rem;
    border: 1px solid black;
}

label {
    font-size: 1.2rem;
}

.check-boxes {
    gap: 0.4rem;
    align-items: flex-start;
    justify-content: center;
}

.check-box {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;
}

#spaces, #numbers, #symbols, #upper {
    width: 1.25rem;
}

#btn-div {
    gap: 1rem;
    margin-top: 1.6rem;
}

button {
    height: 3rem;
    width: 13rem;
    color: white;
    background-color: green;
    font-size: 1.2rem;
    border: 2px solid green;
}

button:hover {
    cursor: pointer;
    color: green;
    background-color: white;
}

#password {
    margin-bottom: 3rem;
    font-weight: 700;
}